/products_catalog.xml
/.idea/vcs.xml
/tests/my_app.log
/tests/products_catalog.xml
/build/main/Analysis-00.toc
/build/main/base_library.zip
/build/main/EXE-00.toc
/dist/main.exe
/build/main/main.pkg
/main.spec
/dist/new_products_catalog.xml
/new_products_catalog.xml
/build/main/PKG-00.toc
/build/main/localpycs/pyimod01_archive.pyc
/build/main/localpycs/pyimod02_importers.pyc
/build/main/localpycs/pyimod03_ctypes.pyc
/build/main/localpycs/pyimod04_pywin32.pyc
/build/main/PYZ-00.pyz
/build/main/PYZ-00.toc
/sdaf.xml
/build/main/localpycs/struct.pyc
/build/main/warn-main.txt
/build/main/xref-main.html
/XML_parser/
/test_tree_view.py
/build_categories_tree.py
/.venv/
/new_products_catalog_1.xml
/__pycache__/mainwindow.cpython-312.pyc
/__pycache__/ui_mainwindow.cpython-312.pyc
